@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?dsk089');
  src:  url('fonts/icomoon.eot?dsk089#iefix') format('embedded-opentype'),
    url('fonts/icomoon.woff2?dsk089') format('woff2'),
    url('fonts/icomoon.ttf?dsk089') format('truetype'),
    url('fonts/icomoon.woff?dsk089') format('woff'),
    url('fonts/icomoon.svg?dsk089#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-line-bordered:before {
  content: "\e941";
}
.icon-location1:before {
  content: "\e942";
}
.icon-mail:before {
  content: "\e943";
}
.icon-message:before {
  content: "\e944";
}
.icon-phone:before {
  content: "\e945";
}
.icon-shop:before {
  content: "\e946";
}
.icon-time:before {
  content: "\e947";
}
.icon-hourglass:before {
  content: "\e940";
}
.icon-clear-shield:before {
  content: "\e93c";
}
.icon-cross-shield:before {
  content: "\e93d";
}
.icon-removable-panel:before {
  content: "\e93e";
}
.icon-virus-shield:before {
  content: "\e93f";
}
.icon-wind-other:before {
  content: "\e936";
}
.icon-select:before {
  content: "\e937";
}
.icon-human:before {
  content: "\e938";
}
.icon-energy-saving:before {
  content: "\e939";
}
.icon-case:before {
  content: "\e93a";
}
.icon-wrench:before {
  content: "\e93b";
}
.icon-air-cycle:before {
  content: "\e934";
}
.icon-air-filter:before {
  content: "\e935";
}
.icon-winds:before {
  content: "\e949";
}
.icon-Medal:before {
  content: "\e933";
}
.icon-calculator:before {
  content: "\e930";
}
.icon-cubes:before {
  content: "\e931";
}
.icon-thin:before {
  content: "\e932";
}
.icon-line:before {
  content: "\e92f";
}
.icon-silent:before {
  content: "\e92e";
}
.icon-light:before {
  content: "\e92d";
}
.icon-adjust:before {
  content: "\e928";
}
.icon-clock:before {
  content: "\e929";
}
.icon-color:before {
  content: "\e92a";
}
.icon-filter:before {
  content: "\e92b";
}
.icon-honeycomb:before {
  content: "\e92c";
}
.icon-inside-light:before {
  content: "\e927";
}
.icon-ep2:before {
  content: "\e924";
}
.icon-industry3:before {
  content: "\e925";
}
.icon-energy2:before {
  content: "\e926";
}
.icon-chain:before {
  content: "\e922";
}
.icon-gear:before {
  content: "\e923";
}
.icon-energy:before {
  content: "\e921";
}
.icon-ep:before {
  content: "\e91f";
}
.icon-industry2:before {
  content: "\e920";
}
.icon-resistGerm:before {
  content: "\e904";
}
.icon-water:before {
  content: "\e905";
}
.icon-baby:before {
  content: "\e906";
}
.icon-dust:before {
  content: "\e907";
}
.icon-lon:before {
  content: "\e908";
}
.icon-shield:before {
  content: "\e909";
}
.icon-avatar:before {
  content: "\e90a";
}
.icon-backarrow:before {
  content: "\e90b";
}
.icon-email:before {
  content: "\e90c";
}
.icon-location:before {
  content: "\e90d";
}
.icon-telephone:before {
  content: "\e90e";
}
.icon-airflow:before {
  content: "\e90f";
}
.icon-finger:before {
  content: "\e910";
}
.icon-germ:before {
  content: "\e911";
}
.icon-leafHouse:before {
  content: "\e912";
}
.icon-moon:before {
  content: "\e913";
}
.icon-sun:before {
  content: "\e914";
}
.icon-thermograph:before {
  content: "\e915";
}
.icon-airConditioner:before {
  content: "\e916";
}
.icon-bulb:before {
  content: "\e917";
}
.icon-construction:before {
  content: "\e918";
}
.icon-environment:before {
  content: "\e919";
}
.icon-facebook:before {
  content: "\e91a";
}
.icon-home:before {
  content: "\e91b";
}
.icon-industry:before {
  content: "\e91c";
}
.icon-informationSystem:before {
  content: "\e91d";
}
.icon-train:before {
  content: "\e91e";
}
.icon-rocket:before {
  content: "\e903";
}
.icon-flake:before {
  content: "\e902";
}
.icon-cirarrow:before {
  content: "\e901";
}
.icon-upyoung:before {
  content: "\e900";
}
