// 請謹慎修改
// .u-font-{尺寸}
// 新增斷點判斷，寫法範例:.u-md-font-18
@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    @each $font,
    $value in $font-size-theme {
      .u#{$infix}-#{$font} {
        font-size: $value;
      }
    }
  }
}

//.u-text-{顏色}
@each $color,
$value in $color-theme {
  .u-text-#{$color} {
    color: $value !important;
  }
}

// .u-line-height-{數字}
@each $line-height,
$value in $line-height-theme {
  .u-line-height-#{$line-height} {
    line-height: $value;
  }
}

// .u-font-weight-{數字}
@each $font-weight,
$value in $font-weight-theme {
  .u-font-weight-#{$font-weight} {
    font-weight: $value;
  }
}

.u-text-decoration-line-through {
  text-decoration: line-through;
}