@each $style,
$value in $list-style-theme {
  .u-list-style--#{$style} {
    list-style: $value;
    padding-left: 20px;
  }
}

@each $style,
$value in $list-style-position-theme {
  .u-list-style-position--#{$style} {
    list-style-position: $value;
  }
}

.u-list-style--disc {
  ::marker {
    font-size: 12px;
  }
}

.u-list-style--cjk-decimal {
  list-style-type: cjk-decimal;
  padding-left: 50px;
}

//這坨等到套完下面那些之後，就可以刪掉了----
.u-list-style--custom {
  margin-left: 26px;
  text-indent: -26px;
}

.u-list-style--custom02 {
  margin-left: 22px;
  text-indent: -22px;
}

.u-list-style--custom03 {
  margin-left: 18px;
  text-indent: -18px;
}

//----
.u-list-style--custom {

  //國字
  &-level01 {
    margin-left: 36px;
    text-indent: -36px;
    margin-bottom: 0;
  }

  //1.
  &-level02 {
    margin-left: 16px;
    text-indent: -16px;
    margin-bottom: 0;
  }

  //(1)
  &-level03 {
    margin-left: 24px;
    text-indent: -24px;
    margin-bottom: 0;
  }
}

.reset-text-indent {
  text-indent: 0;
}

html[lang="en"] {
  .u-list-style--custom {

    //III.
    &-level01 {
      margin-left: 36px;
      text-indent: -36px;
      margin-bottom: 0;
    }

    //A.
    &-level02 {
      margin-left: 21px;
      text-indent: -21px;
      margin-bottom: 0;
    }

    //(A)
    &-level03 {
      margin-left: 24px;
      text-indent: -24px;
      margin-bottom: 0;
    }

    //1.
    &-level04 {
      margin-left: 28px;
      text-indent: -28px;
      margin-bottom: 0;
    }
  }
}