.p- {
  &history {
    &-content {
      position: relative;

      &::before {
        content: "";
        position: absolute;
        height: 96%;
        width: 1px;
        background: $blue-highlight;
        z-index: -1;
        top: 60px;
        left: 45px;
      }
    }

    &-circle {
      &-content {
        // width: 130px;
        width: 90px;
      }

      &-year {
        background-color: $white;
        border: 1px solid $blue-highlight;
        color: $blue-highlight;
        border-radius: 50%;
        text-align: center;
        font-weight: bold;
        width: 60px;
        height: 60px;
        line-height: 60px;
        font-size: $font-18;
        margin: 0 auto;
        position: relative;
        
        &::before{
          content: "";
          border-bottom: 1px dotted $gray-900;
          position: absolute;
          transform: translateY(-50%);
          top: 50%;
          width: 60px;
          right: -85px;
          display: none;
          @include min-sm{
            display: block;
          }
        }
      }

      &-fiveyear {
        background-color: $blue-highlight;
        color: $white;
        width: 90px;
        height: 90px;
        line-height: 90px;
        font-size: $font-26;
        &::before{
          width: 55px;
          right: -65px;
        }
      }
    }

    &-txt{
      &-content{
        padding-left: 15px;
        @include min-sm{
          padding-left: 75px;
        }
      }
    }
  }
}