//page .p-{className}
.p- {
  &index {
    &-loading {
      z-index: 50000;
      position: fixed;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);

      &-content {
        position: absolute;
        transform: translate(-50%,-50%);
        left: 50%;
        top: 50%;
        text-align: center;
        img{
          width: 50px;
        }
      }
    }

    &-link {
      &-link {
        color: $gray-800;
        // background-color: $gray-02;
        font-size: $font-14;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0.5rem 1rem;
        border-radius: 0.25rem;
        width: 100%;
        height: 100%;

        img {
          // width: 30px;
          // height: 30px;
          width: 40px;
          height: 40px;
          display: block;
          margin-bottom: 10px;
        }

        span {
          text-align: center;
          word-break: keep-all;
        }
      }
    }

    &-news {
      &-bg {
        position: relative;

        &:before {
          content: "";
          background-color: $gray-100;
          position: absolute;
          left: 50%;
          right: 15px;
          top: 0;
          bottom: 0;
          z-index: -1;
          display: block;
        }
      }

      &-slick {
        .v-slick-arrows-prev {
          top: 50%;
        }

        .v-slick-arrows-next {
          top: 50%;
        }
      }
    }

    &-video {
      &-thumbnails {
        margin: 0 -12px;
        display: flex;

        &-frame {
          flex: 0 0 20%;
          flex-shrink: 1;
          padding: 0 12px;
          cursor: pointer;
          position: relative;

          &:before {
            content: "";
            display: block;
            position: absolute;
            left: 12px;
            right: 12px;
            top: 0;
            bottom: 0;
            background-color: rgba(33, 33, 33, 0.6);
          }

          &.js-active,
          &:hover {
            img {
              outline: 5px solid rgba($blue-highlight, 20%);
            }

            &:before {
              background-color: transparent;
            }
          }
        }
      }

      &-slick {
        @include min-xl {
          min-height: 450px;
        }

        .v-slick-arrows-prev {
          @include min-lg {
            left: -2rem;
          }
        }

        .v-slick-arrows-next {
          @include min-lg {
            right: -2rem;
          }
        }
      }
    }

    &-style {
      &-bg {
        position: relative;

        &:before {
          content: "";
          display: block;
          left: 0;
          top: 0;
          bottom: 2.5rem;
          right: 52%;
          position: absolute;
          background-color: $yellow-500;
          z-index: -1;
        }
      }

      &-link {
        transition: background-color 0.3s ease-in-out;

        &:nth-child(odd) {
          background-color: $gray-100;

          @include min-md {
            background-color: $white;
          }
        }

        &:nth-child(even) {
          background-color: $gray-02;
        }

        &:hover {
          img {
            transform: scale(1.1);
            opacity: 0.7;
          }
        }
      }

      &-frame {
        width: 100%;
        padding-top: 72.85%;
        overflow: hidden;
        position: relative;

        @include min-md {
          padding-top: 170.1%;
        }

        img {
          position: absolute;
          display: block;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
        }
      }
    }

    &-warranty {
      &-wrapper {
        flex: 0 0 50%;
        flex-shrink: 1;
        background-color: $white;
        padding-top: 52%;
        text-align: center;
        position: relative;
        max-width: 100%;

        @include min-sm {
          padding-top: 50%;
        }

        @include min-lg {
          flex: 0 0 100%;
          flex-shrink: 1;
          padding-top: 100%;
        }

        img {
          width: 40%;

          @include max-sm {
            width: auto;
            height: 80px;
          }
        }
      }

      &-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;

        &.pic03 {
          @include max-sm {
            top: 62%;
          }
        }
      }

      &-frame {
        flex: 0 0 50%;
        flex-shrink: 1;
        position: relative;
        max-width: 100%;
        overflow: hidden;

        @include min-lg {
          flex: 0 0 100%;
          flex-shrink: 1;
          padding-top: 100%;
        }

        img {
          @include max-sm {
            max-width: 140%;
          }
        }
      }
    }
  }
}