.p- {
    &pointFrame {
        position: relative;
        &+.p-pointFrame {
            &::before{
                content:"";
                width: 1px;
                height: 24px;
                background-color: $gray-800;
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }
}