.p- {
    &titleIcon {
        width: 25px;
    }

    &smallIcon {
        width: 20px;
    }

    &bigIcon {
        width: 50px;
    }

    &pop_up {
        background-color: white;
        padding: $spacing-200;
        border-radius: 0.5rem;

        &_wrap {
            z-index: 50000;
            position: fixed;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
        }
    }

    &ul {
        list-style: disc;
        padding-left: 1.5rem;
    }

    &ol {
        // list-style:disc;
        padding-left: 1.5rem;
    }
}

.p-members-anchorSpace {
    margin-top: -30px;
    padding-bottom: 30px;
    // height: 30px;
    display: block;

    @include min-xl {
        margin-top: -60px;
        padding-bottom: 60px;
    }
}