.p- {
    &divider{
        display: flex;
        align-items: center;
        &:before{
            width: 100%;
            height: 1px;
            content:"";
            display: block;
            border: 1px solid $gray-500;
            margin-right: 2rem;
        }
        &:after{
            width: 100%;
            height: 1px;
            content:"";
            display: block;
            border: 1px solid $gray-500;
            margin-left: 2rem;
        }
    }
    &linkIcon{
        &:hover{
            opacity: 0.8;
        }
    }
}