//layout .l-{className}
.p- {
    &products {
        @include max-sm {
            *[class^="row"] {
                margin-left: -7.5px;
                margin-right: -7.5px;
            }

            *[class^="col-"] {
                padding-left: 7.5px;
                padding-right: 7.5px;
            }
        }

        &-search {
            // position: absolute;
            position: fixed;
            // top: 60px;
            top: 0px;
            right: 100%;
            bottom: 0;
            z-index: 2;
            width: 100%;
            transition: right .3s;
            // z-index: 980;
            z-index: 1001;

            @include min-lg {
                position: fixed;
                border-radius: 0.25rem;
                top: 0px;
                right: 0;
                display: none;
                background-color: rgba(0, 0, 0, .5);
                // z-index: 1001;
            }

            &.js-active {
                right: 0;
                display: block;

                @include max-lg {
                    overflow-y: scroll;
                    // padding-top: 60px;
                }
            }

            &-wrapper {
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                z-index: 1001;
                display: flex;
                flex-direction: column;

                @include min-lg {
                    transform: translate(-50%, -50%);
                    top: 50%;
                    left: 50%;
                    border-radius: 0.25rem;
                    border: 1px solid $gray-500;
                    // height: 600px;
                    width: 70%;
                }
            }

            // 只有這頁的風琴按鈕按下去之後，不要藍色虛線框
            // .c-accordion-btn {
            //     &.c-accordion-btn-focus {
            //         outline: 0px !important;
            //     }
            // }

            &-header {
                position: relative;
                padding: 1rem;
                display: flex;
                border-bottom: 1px solid $gray-300;

                // @include min-lg {
                //     display: none;
                // }

                .close {
                    position: absolute;
                    transform: translateY(-50%);
                    top: 50%;
                    // left: 1rem;
                    right: 1rem;

                    &:hover {
                        color: $blue-highlight;
                    }
                }
            }

            &-btn {
                i.fa-search {
                    position: relative;
                }

                &.js-inputChecked {
                    i.fa-search {
                        &::after {
                            content: "\f058";
                            font-weight: 700;
                            width: 10px;
                            height: 10px;
                            color: $blue-highlight;
                            position: absolute;
                            font-size: 12px;
                            bottom: 0;
                            right: -5px;
                        }
                    }
                }

                &:hover,
                &:active,
                &:focus {
                    i.fa-search {
                        &::after {
                            color: $yellow-500;
                        }
                    }
                }
            }

            &-content {
                overflow-y: auto;

                h4 {
                    width: 3rem;
                    text-align: right;
                    margin-right: 1rem;
                }

                .l-form-check-label {
                    font-size: $font-14;
                }
            }

            &-checkbox {
                border-left: 2px solid $gray-800;
            }

            &-showMore {
                display: block;
                text-decoration: underline;

                @include min-lg {
                    display: none;
                }

                &:hover {
                    text-decoration: underline;
                }

                &.js-accordionExpended {
                    display: none;
                }
            }

            .c-accordion {
                &-content {
                    background-color: transparent;
                    border-bottom: 1px solid $gray-300;

                    @include min-lg {
                        border-left: 0;
                        border-right: 0;
                        // position: absolute;
                        // top: 70px;
                        border-bottom: 0px;
                        display: block;
                        max-height: 100%;

                        &.js-accordionExpended {
                            display: block;
                        }
                    }

                    &-wrapper {
                        padding: 0;
                    }

                    &-layout {
                        max-height: 7.5rem;
                        overflow: hidden;
                        transition: max-height 0.5s cubic-bezier(0.77, -0.01, 0.19, 1.01);

                        &.js-accordionExpended {
                            max-height: 2000px;
                        }

                        @include min-lg {
                            max-height: 2000px;
                        }
                    }
                }

                &-btn {
                    border: 0px;

                    @include min-lg {
                        align-self: start;
                        background-color: $gray-200;
                        margin: 1rem;
                        border-radius: 0.25rem;
                        width: auto;

                        &:hover {
                            background-color: $blue-highlight;
                            color: $white;
                        }
                    }

                    &-wrapper {
                        @include min-lg {
                            padding: 0.375rem 0.75rem;
                        }
                    }

                    &-title {
                        font-weight: bold;

                        @include min-lg {
                            text-align: center;
                        }
                    }

                    &-icon {
                        @include min-lg {
                            display: none;
                        }
                    }
                }
            }

            .c-accordion-content:last-child .c-accordion-content-wrapper {
                border-bottom: 0px;
            }
        }

        &-composite {
            &-aid {
                &-carousel{
                    @include min-lg{
                        max-width: 900px;
                    }
                }
                &-tag{
                    background-color: $blue-highlight;
                    color: $white;
                    display: inline-block;
                    border-radius: 0.25rem;
                    padding: 0.25rem 0.5rem;
                    position: absolute;
                    right: 0;
                    top: 0;
                }
            }
        }
    }
}