@charset "utf-8";
/* CSS Document */
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-image: url(/cn/images/bg.gif);
}
.ju {
	margin-top: 6px;
}
.bianALL {
	border: 1pt solid #C7DCE9;
}
.juzhong {
	font-size: 12px;
	color: #376F94;
}
td {
	font-size: 12px;
}
.dh01 {
	font-size: 12px;
	color: #FFFFFF;
	text-decoration: none;
	letter-spacing: 2pt;
	margin-top: 50px;
	background-position: center;
	text-align: center;
}
.bianALL2 {
	border: 1pt solid #778C96;
	color: #294E69;
}
.bianUD {
	border: 1pt solid #7C8FA3;
}

.btm {
	font-size: 13px;
	color: #294E69;
	line-height:18px;
}
a.b:link {
	color: #520306;
	text-decoration: none;
}
a.b:visited {
	color: #FFFFFF;
	text-decoration: none;
}
a.b:hover {
	color: #FFFFFF;
	text-decoration: none;
}
a.b:active {
	color: #FFFFFF;
	text-decoration: none;
}
a.btm:link {
	color: #294E69;
	text-decoration: none;
}
a.btm:visited {
	color: #294E69;
	text-decoration: none;
}
a.btm:hover {
	color: #294E69;
	text-decoration: none;
}
a.btm:active {
	color: #294E69;
	text-decoration: none;
}

a.mm:link {
	color: #376F94;
	text-decoration: none;
}
a.mm:visited {
	color: #376F94;
	text-decoration: none;
}
a.mm:hover {
	color: #376F94;
	text-decoration: none;
}
a.mm:active {
	color: #376F94;
	text-decoration: none;
}


a.mm2:link {
	color: #ff9900;
	font-weight:bold;
	text-decoration: none;
}
a.mm2:visited {
	color: #ff9900;
	font-weight:bold;
	text-decoration: none;
}
a.mm2:hover {
	color: #ffcc99;
	font-weight:bold;
	text-decoration: none;
}
a.mm2:active {
	color: #ff9900;
	font-weight:bold;
	text-decoration: none;
}
.wenzi {
	font-size: 14px;
	color: #6D838F;
	text-decoration: none;
	line-height: 200%;
}
.wenzi2 {
	font-size: 12px;
	color: #6D838F;
	text-decoration: none;
	
}
