@charset "utf-8";
/* CSS Document */
#progress {
	FONT-SIZE: 1px; LEFT: 10px; WIDTH: 1px; POSITION: relative; TOP: 1px; HEIGHT: 5px; BACKGROUND-COLOR: #9d9d94
}
#loader {
	BORDER-RIGHT: #6a6a6a 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #6a6a6a 1px solid; DISPLAY: block; PADDING-LEFT: 0px; FONT-SIZE: 10px; Z-INDEX: 255; PADDING-BOTTOM: 16px; MARGIN: 0px auto; BORDER-LEFT: #6a6a6a 1px solid; WIDTH: 135px; COLOR: #000000; PADDING-TOP: 10px; BORDER-BOTTOM: #6a6a6a 1px solid; FONT-FAMILY: Tahoma, Helvetica, sans; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: left
}
#loader_container {
	WIDTH: 100%; POSITION: absolute; TOP: 40%; TEXT-ALIGN: center
}
#loader_bg {
	FONT-SIZE: 1px; LEFT: 8px; WIDTH: 113px; POSITION: relative; TOP: 8px; HEIGHT: 7px; BACKGROUND-COLOR: #ebebe4
}
.border_preview {
	BORDER-RIGHT: #888 1px solid; BORDER-TOP: #888 1px solid; Z-INDEX: 100; MIN-HEIGHT: 380px; BORDER-LEFT: #888 1px solid; WIDTH: 380px; BORDER-BOTTOM: #888 1px solid; POSITION: absolute; HEIGHT: 371px; BACKGROUND-COLOR: #fff
}
.preview_temp_load {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 17px; PADDING-TOP: 8px; TEXT-ALIGN: center
}
