body {
	font: 1rem arial,sans-serif;
}

.checkbox, .radio {
	/* width: 19px; */
	height: 24px;
	width: 24px;
	/* padding: 0 5px 0 0; */
	/* background: url(../images/checkbox.gif) no-repeat; */
	display: block;
	clear: left;
	float: left;
	background: #ddd;
	position: relative;
}
.radio {
	border-radius: 100%;
	/* background: url(../images/radio.gif) no-repeat; */
}
.radio::before{
	content: "";
	background: #fff;
	width: 10px;
	height: 10px;
	border-radius: 100%;
	position: absolute;
	left: 7px;
	top: 7px;
	display: inherit;
}
.select {
	position: absolute;
	width: 158px; /* With the padding included, the width is 190 pixels: the actual width of the image. */
	height: 21px;
	padding: 0 24px 0 8px;
	color: #fff;
	font: 12px/21px arial,sans-serif;
	background: url(../images/select.gif) no-repeat;
	overflow: hidden;
}
select.form-control{
	-webkit-appearance: inherit;
	-moz-appearance: inherit;
	appearance: inherit;
	padding: 5px 20px 5px 10px;
    min-height: 36px;
}
select.form-control + i{
	display: inline-block;
	width: 1em;
	height: 1em;
	position: relative;
    margin-left: -20px;
    margin-right: 10px;
}
select.form-control + i:before{
	content: "";
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 7px solid #bbb;
    position: absolute;
    left: 0;
    top: 5px;
}
// input[type=radio]{
// 	opacity: 0;
// 	position: absolute;
	
// }
input[type=radio] + label{
	position: relative;
	padding-left: 30px;
}
input[type=radio] + label:hover{
	cursor: pointer;
}
input[type=radio] + label::before{
	content: "";
	position: absolute;
	border: 2px solid #ddd;
	left: 0;
	width: 20px;
	height: 20px;
	border-radius: 100%;
}
input[type=radio]:checked + label::before{
	background: #006DC9;
}

input[type=checkbox]{
	opacity: 0;
	position: absolute;
}
input[type=checkbox] + label{
	position: relative;
	padding-left: 30px;
}
input[type=checkbox] + label:hover{
	cursor: pointer;
}
input[type=checkbox] + label::before{
	content: "";
	position: absolute;
	border: 2px solid #ddd;
	left: 0;
	width: 20px;
	height: 20px;
	border-radius: 3px;
	color: #ddd;
    font-weight: bold;
}
input[type=checkbox]:checked + label::before{
	content: "v";
	background: #006DC9;
	text-align: center;
}
