A:unknown {
	COLOR: #005395; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
a:active { COLOR: #737373; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; FONT-SIZE: 9pt; FONT-WEIGHT: bolder; TEXT-DECORATION: none }
a:hover { COLOR: #999999; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; FONT-SIZE: 9pt; FONT-WEIGHT: normal; TEXT-DECORATION: underline }
a:link { font-family: "Arial", "Helvetica", "sans-serif"; font-size: 9pt; color: #737373; text-decoration: none}
a:visited { font-family: "Arial", "Helvetica", "sans-serif"; font-size: 9pt; color: #737373; text-decoration: none}
body {
	background-color: #FFFFFF;
}
