@charset "utf-8";
/*Design by AIA advertising company */
/*All right reserved 2021 */
/*
// table,
// th,
// td {   
//     border-collapse: collapse;
//     border: none;
//     border-spacing: 0;
// }

// table {
//     width: 90%;
//     /* border: 1px solid #eeeeee; */
//     /* font-family:sans-serif; */
//     /* background: #d9e7f6;  */
//     margin: 0 auto;
// }

// caption {
//     margin-bottom: 10px;
//     padding-left: 30px;
//     padding-bottom: 2px;
//     /* border-left: 6px solid #307bcf; */
//     line-height: 1.8;
//     /* font-weight: bold; */
// 	text-align: left;
// 	position: relative;
//     font-size: 16px;
//     color: #002154;
// }
// caption::before{
// 	content: "";
// 	position: absolute;
// 	width: 17px;
// 	height: 17px;
// 	background: #006DC9;
// 	left: 0;
// 	top: 0;
// }
// caption::after{
// 	content: "";
// 	position: absolute;
// 	width: 13px;
// 	height: 13px;
// 	border: 2px solid #002154;
// 	left: 5px;
// 	top: 5px;
// }

.table .thead-dark th{
    padding: 0.8em 0.5em;
    color: #fff;
    background: #002154;
    border: 1px solid #fff;
    border-collapse: collapse;
    font-size: 14px;
    text-align: center;
}
// th {
//     padding: 0.8em 0.5em;
//     color: #fff;
//     background: #002154;
//     border: 1px solid #fff;
//     border-collapse: collapse;
//     font-size: 14px;
//     text-align: center;
// }

.table td {
    padding: 0.8em 0.5em;
    text-align: center;
}


/* tr{
	
} */

// tr:nth-child(even) {
//     background: #eee;
// }

#Page,
#Sq {
    width: 60px;
}

#Template {
    width: 80px
}

#Function {
    border-left: 2px solid #fff;
}

// th.func {
//     background-color: #006DC9;
// }



/*form*/

fieldset {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
	border: none;
	text-align: left;
}

legend {
    display: none;
}

div.SiteMap legend,
div.UserFrom legend{
    display: block;
    font-size: 14px;
    color: #fff;
    padding: 5px 10px;
    background: #002154;
    text-align: center;
}
div.SiteMap dl,
div.UserFrom dl{
    display: block;
    width: 70%;
    border-bottom: 2px solid #eee;
    margin: 10px auto;
    padding: 15px 0;
}
div.SiteMap dl+dl,
div.UserFrom dl+dl{
    margin-left: auto;
}
div.SiteMap dt,
div.UserFrom dt{
    float: left;
    display: block;
    height: 2em;
    text-align: left;
    width: 150px;
    line-height: 25px;
    margin: 0 10px 0 0;
}

input.text {
    border: none;
    color: #336581;
    width: 300px;
}

input.submit {
    padding: 4px 8px 0 8px;
    height: 19px;
    color: #fff;
}

dl {
	margin: 10px 0;
    clear: both;
	padding: 0 0 3px 0;
	display: inline-block;
	margin: 10px 0;
    /* border-bottom: #CCCCCC 1px dashed; */
}
dl+dl{
	margin-left: 10px;
}
dt {
    font-weight: bold;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: #006DC9;
}

dt {
	margin: 0 10px 0 0;
	display: inline-block;
	
}

dd {
	font-size: 12px;
	display: inline-block;
	vertical-align: middle;
}

dd:after {
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
    content: ".";
}

div.submit {
    width: 90%;
    margin: 0 auto;
}

.note {
    font-size: 11px;
    font-weight: 300;
    color: #333333;
}

.arrow-up {
    display: inline-block;
    width: 1em;
    height: 1em;
    position: relative;
}

.arrow-up:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 5px solid #fff;
}

.arrow-down {
    display: inline-block;
    width: 1em;
    height: 1em;
    position: relative;
}

.arrow-down:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 5px solid #fff;
}

.filter {
    display: inline-block;
    vertical-align: bottom;
}

.filter span {
    display: block;
}

.fun-edit i {
    font-size: 20px;
    color: #555;
}

.fun-delete i {
    font-size: 20px;
    color: #d00505;
}
.fun-upload i {
    font-size: 20px;
    color: #002154;
}
.datatable2 tr th{
    min-width: 4em;
}
.datatable2 tr td{
    text-align: left;
    word-break: break-all;
}
.page-mark{
    float: right;
} 
.page-mark span{
    display: inline-block;
}
.page-mark a{
    display: block;
    border-radius: 3px;
    background: #555;
    color: #fff;
    padding: 3px;
}
.page-mark span + span a{
    margin-left: 5px;
}
.page-mark a i{
    font-size: 20px;
}
.page-mark a:hover{
    opacity: .8;
}

/*  for bootstrap 4*/ 


.record-data {
    text-align: right;
    font-family: Arial, Helvetica, sans-serif; 
    margin: 0 auto;
    float:right;
    padding-right: 2em;
    /* font-size: 12px;
    color:#6699FF;     
    width: 90%; */ 
}

.datatable .RecordData2 {
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    /* color:#6699FF; */
    padding-right: 2em;
}

.table .thead-navy th{
    padding: 0.8em 0.5em;
    color: #fff;
    background: #002154;
    border: 1px solid #fff;
    border-collapse: collapse;
    font-size: 14px;
    text-align: center;
}

.table th {
    color: #fff;
    background: #002154;
    border: 1px solid #fff;
    border-collapse: collapse;
    font-size: 14px;
    text-align: center;
}

.table th.func {
    background-color: #006DC9;
}

// .table tr:nth-child(even) {
//     background: #eee;
// }


.caption {
    margin:20px auto;
    padding-left: 30px;
    padding-bottom: 2px;
    /* border-left: 6px solid #307bcf; */
    line-height: 1.8;
    /* font-weight: bold; */
	text-align: left;
	position: relative;
    font-family: arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #002154;
}
.caption::before{
	content: "";
	position: absolute;
	width: 17px;
	height: 17px;
	background: #006DC9;
	left: 0;
	top: 0;
}
.caption::after{
	content: "";
	position: absolute;
	width: 13px;
	height: 13px;
	border: 2px solid #002154;
	left: 5px;
	top: 5px;
}