/*Design by AIA advertising company */
/*All right reserved 2007 */

/* CSS Document 這是控制所有table的css */
/*注意:在交付給客戶以及正式上線前，請先將這些說明文字刪除，僅留下第一二行的版權說明*/

p , th ,td {
font:12px Verdana, Arial, Helvetica, sans-serif;
font-weight: normal;
color: #666666;
line-height: 20px;
 }
.datatable,.datatable2 {

border: 0px solid #D6DDE6;
	border-collapse: collapse;
	width:700px;
	margin-left:15px;
}
.datatableInside {}
.datatableOL,.datatable2OL {/*datatable跟datatableOL差異在於OL是在框內的表格*/
	border: 1px solid #D6DDE6;
	border-collapse: collapse;
	width:670px;
/*	margin-right:15px;   不然右邊會禿出去A2-1-1-1*/
	margin-left:15px;
}
.smalltable {
	border: 1px solid #D6DDE6;
	border-collapse: collapse;
	margin-left:15px;
	margin-right:15px;
}
.smalltable2 {
	border-collapse: collapse;
	margin-left:15px;
	margin-right:15px;
}
.smalltable2 td {
    border-bottom: 1px solid #D6DDE6;	
	text-align:left;
}
.datatableInside th {
    border-bottom: 1px solid #D6DDE6;
	border-right:none;
	border-left:none;	
	text-align:center;
}

.datatable td,.datatableOL td,.smalltable td {
	/*border: 1px solid #D6DDE6;*/	
	text-align:center;
}
.datatable2 td,.datatable2OL td {/*datatable跟datatable2差異在於datatable2字都置左*/
    padding-left:5px;
	border: 1px solid #D6DDE6;	
	text-align:left;
}
td.tableLeft {
	text-align:left;
	background-color:#DBF0FD;
}
td.NoColorLeft {
	text-align:left;
}
.datatable caption {
	font: Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	color: #33517A;
	padding-top: 3px;
	padding-bottom: 8px;
	text-align:center;
}
.datatable td a,.datatable2 td a ,.datatableOL td a,.datatable2OL td a,.smalltable td a {
	text-decoration:none;
}
.datatable td a:hover,.datatable2 td a:hover ,.datatableOL td a:hover,.datatable2OL td a:hover,.smalltable td a:hover{
	text-decoration:none;
}
.datatable img {
    border:none;
}
.datatable th,.datatable2 th,.datatableOL th,.datatable2OL th,.smalltable th {/* bgcolor-灰色 */	
	border: 1px solid #FFFFFF;
	background-color: #DFDFDF;
	font-size: 13px;
	text-align: center;
	color: #666666;
}
.datatable td.gray2,.datatable2 td.gray2 {/* 主約項目 */
	font-size: 13px;
	color: #666666;
	font-weight: bold;
	text-align:left;
	padding-top: 6px;
	padding-left: 25px;
	margin-left:10px;
	background-image: url(http://test.ezpost.com.tw/AI2/aiadmin/images/thtitle.png);
	background-repeat: no-repeat;
	background-position: left center;
	background-color: #FFFFFF;
}
.datatable td.gray3,.datatable2 td.gray3 {/* 附約項目 */	
	font-size: 13px;
	color: #666666;
	font-weight: bold;
	text-align:left;
	padding-top: 6px;
	padding-left: 25px;
	margin-left:10px;
	background-image: url(http://test.ezpost.com.tw/AI2/aiadmin/images/thtitle2.png);
	background-repeat: no-repeat;
	background-position: left center;
	background-color: #FFFFFF;
}
.smalltable td.gray {/* bgcolor-灰色 */	
	font-size: 13px;
	color: #666666;
	font-weight: bold;
	text-align:left;
	padding-top: 6px;
	padding-left: 25px;
	margin-left:10px;
	background-color: #FFFFFF;
}
.datatable td.whitetd,.datatable2 td.whitetd,.datatableOL td.whitetd, .datatable2OL td.whitetd {/* bgcolor-白色 */	
	font-size: 12px;
	color: #666666;
	background-color: #FFFFFF;
	text-align:center;
}
.datatable tr:hover, .datatable tr.hilite,.datatable2 td:hover, .datatable2 td.hilite ,.datatableOL td:hover, .datatableOL td.hilite,.datatable2OL td:hover, .datatable2OL td.hilite {
	/*background-color: #66CCFF;*/
	color: #666666;
}