/*Design by AIA advertising company */
/*All right reserved 2007 */

/* CSS Document 這是控制字體外觀與字體超連結的css*/
/*注意:在交付給客戶以及正式上線前，請先將這些說明文字刪除，僅留下第一二行的版權說明*/

.menu1 h3 {
	margin-left:35px;
    font-family: "新細明體";
	font-size: 13px;
	font-weight: bold;
	text-align:left;
    color: #0F599E;
	background-image: url(../images/icon/titledot.png);
	background-repeat: no-repeat;
	background-position: left center;
}
.menu1 h3 a{
    color: #0F599E;
}
.menu1 h3 a:hover{
    color: #0F599E;
	text-decoration: none;
}

.menu1 h4 {/*次標題*/
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #65B521;
    font-size: 13px;
	font-weight: 600;
	line-height: 2em;
	background-image: url(../images/icon/green.gif);
	background-repeat: no-repeat;
	background-position: left center;	
	margin-bottom:0px;
	padding-left:18px;
    margin-left:15px;
	margin-right:20px;
	text-align:left;
}
.menu1 h5 {/*次標題*/
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #333333;
    font-size: 12px;
	font-weight: 600;
    margin-left:15px;
	margin-right:20px;
	margin-bottom:0px;
	text-align:left;
	/*background-color:#00CCFF;*/
}
.menu1 h6 {/*次標題*/
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #666666;
    font-size: 12px;
	font-weight: 400;
    margin-left:15px;
	margin-right:20px;
	text-align:left;
}
.menu1 p {
	margin-left:45px;
	margin-right:55px;
	padding-right:0px;
	margin-top:0px;

}
/*table.menu1 {/*外框裡面的文字區
	margin-left:7px;
	background-color:#FFFFFF;
}
table.menu1 p {/*外框裡面的文字區
	margin-left:15px;
	margin-right:20px;
	margin-top:0px;
	text-align:left;
}*/
li.QA {
    margin:0px!important;
	margin-left:0px!important;
	margin-bottom:0px!important;
	list-style-type:none;
}
.menu1 ul {
padding-left:30px;
margin-left:-10px;
list-style-type:disc;
/*
	line-height: 20px;
*/		}

.menu1 ul ul {/*li第三層前面方形*/
padding-left:30px;
margin-left:-10px;
/*color:#59B337;*/
}
.menu1 ul ul li {/*li第三層前面方形*/
padding-left:12px;
margin-left:-10px;
background-image: url(../images/icon/arrow01.png);
background-repeat: no-repeat;
background-position: 5px center;
list-style-type:none;
}
	
.menu1 ol{/*第一層項目標題*/
	font-size: 12px;
	color: #666666;
	font-family: "新細明體";
	text-align:left;
	padding:0;
	margin:0; /*如果其他頁面有重疊問題，請調整此行*/
	line-height: 20px;
	padding-left:35px;
}
.menu1 li {
	/*list-style-position: inside;*/
	margin-left:7px;
	padding-left:0px;
}
.menu1 ol ul {/*第二層項目標題*/
padding-left:10px;
margin-left:0px;
list-style-type:disc;
		}
.menu1 ol ol{/*次標題*/
	font-size: 12px;
	color: #666666;
	font-family: "新細明體";
	text-align:left;
	padding-top:0;
	margin-top:-18px; /*如果其他頁面有重疊問題，請調整此行*/
	line-height: 20px;	
}		
/*------------------------------------------------以上是整理過後的css-----------------------------------------------*/
.tdtestline {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;
	font-size: 13px;
	color: #666666;
}
.tdtestlinec1 {/* bgcolor-黃色 */
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;
	font-size: 13px;
	color: #666666;
	background-color: #DFDFDF;
}
.tdtestlinec2 {/* bgcolor-藍色 */
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;
	font-size: 13px;
	color: #666666;
	background-color: #99CCFF;
	font-weight: bold;
}
.tdtestlinec3 {/* bgcolor-灰色 */
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;
	font-size: 13px;
	color: #666666;
	background-color: #DFDFDF;
}
/*#ContentMain h3 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #666666;
	font-weight: bold;
	margin-left:20px;
	padding-left:25px;
	line-height: 20px;
	}*/		
.p2 {
	font-family: "新細明體";
	font-size: 12px;
	color: #333333;
	text-align:left;
}
.p3 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333399;
}
.p4 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 12px;
	color: #333399;
}
.password {
	font-family: "新細明體";
	font-size: 12px;
	color: #666666;
	text-decoration: underline;
}
.password a {
	font-family: "新細明體";
	font-size: 12px;
	color: #666666;
	text-decoration: underline;
}
.password a:hover {
	font-family: "新細明體";
	font-size: 12px;
	color: #59B337;
	text-decoration: underline;
}
.excel {
	font-size: 12px;
}
.excelw {
	font-size: 12px;
	color:#FFFFFF;
}
.excelb {
	font-size: 13px;
}
.excel_bold {
	font-size: 12px;
	font-weight: bold;
}
/*-----------------------↓表單明細查詢最底下↓----------------------*/
#bottom {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}
#bottom ul {
	list-style: none;
	margin: 0;
	padding: 0;
	padding-top: 4px;
}
#bottom li {
	display: inline;
}
#bottom a:link, #bottom a:visited { 
	margin-right: 2px;
	padding: 3px 10px 3px 10px; 
	color: #0054A6;
	background-color: #D5DCEE;
	text-decoration: none;
	border-top: 1px solid #FFFFFF;
	border-left: 1px solid #FFFFFF;
	border-bottom: 1px solid #717171;
	border-right: 1px solid #717171;
}
#bottom a:hover {
	border-top: 1px solid #717171;
	border-left: 1px solid #717171;
	border-bottom: 1px solid #FFFFFF;
	border-right: 1px solid #FFFFFF;
}
/*-----------------------↑表單明細查詢最底下↑----------------------*/

/*-----------------------↓申請表格"下載"↓----------------------*/
#download {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}
#download a:link, #download a:visited { 
	margin-right: 2px;
	padding: 3px 10px 3px 10px; 
	color: #0054A6;
	background-color: #CCCCCC;
	text-decoration: none;
	border-top: 1px solid #FFFFFF;
	border-left: 1px solid #FFFFFF;
	border-bottom: 1px solid #717171;
	border-right: 1px solid #717171;
}
#download a:hover {
	border-top: 1px solid #717171;
	border-left: 1px solid #717171;
	border-bottom: 1px solid #FFFFFF;
	border-right: 1px solid #FFFFFF;
}
/*-----------------------↑申請表格"下載"下↑----------------------*/

/*-----------------------↓公司簡介"內容請見附件"按鈕↓----------------------*/
#download {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}
#download  a:link, #download  a:visited { 
	margin-right: 2px;
	padding: 2px 6px 2px 6px; 
	color: #666666;
	background-color: #FBE485;
	text-decoration: none;
	border-top: 1px solid #FFFFFF;
	border-left: 1px solid #FFFFFF;
	border-bottom: 1px solid #717171;
	border-right: 1px solid #717171;
}
#download  a:hover {
	border-top: 1px solid #717171;
	border-left: 1px solid #717171;
	border-bottom: 1px solid #FFFFFF;
	border-right: 1px solid #FFFFFF;
}
/*-----------------------↑公司簡介"內容請見附件"按鈕↑----------------------*/
li.QA {
    margin:0px!important;
	margin-left:0px!important;
	margin-bottom:0px!important;
	list-style-type:none;
}
.QAbottom {/*區分QA題目與答案*/
	line-height: 2em;
	background-image: url(../images/icon/dotline.gif);
	background-repeat: repeat-x;
	background-position: bottom center;	
	margin-bottom:0px;
    margin-left:15px;
	text-align:left;
}	
/*-----------------------for B2C1用-----------------------*/	
.w003 {
    font-size: 13px;
	color: #666666;
}
.w0031 {
	font-size: 13px;
	color: #666666;
	font-weight: bold;
	background-color: #FFD920;
}
.w004 {
	font-size: 13px;
	color: #0951A5;
}
.boxout a:link, .boxout a:visited {
	color: #59B337;
}
.boxout a:hover {
	text-decoration: underline;
	color: #CCCCCC;
}
.subword2{/*標題*/
	font-size: 12px;
	color: #666666;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 2em;
	list-style: none;
	margin: 0;
	padding: 0;
}
.subword3{/*次標題*/
    font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #65B521;
	font-size: 13px;
	font-weight: 600;
	line-height: 2em;
    background-image: url(../images/icon/dotline.gif);
	background-repeat: repeat-x;
	background-position: bottom center;
	/*width:650px; 
		text-decoration: underline;
*/}
.subwordbb{/*標題*/
	font-size: 12px;
	color: #333333;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 2em;
	list-style: none;
	margin: 0;
	padding: 0;
}
.nav_word001{
	font-family: "新細明體";
	font-size: 12px;
	color: #535353;
}
.content_word001{
	font-family: "新細明體";
	font-size: 13px;
	color: #666666;
	font-weight: bold;
/*	padding-left:15px;
*/	padding-left:25px;
	padding-top:5px;
	margin-left:20px;
}
.content_word002{
	font-family: "新細明體";
	font-size: 12px;
	color: #666666;
	padding-left:15px;
}
.content_word003{
	font-family: "新細明體";
	font-size: 12px;
	color: #333333;
	font-weight: bold;
	text-align:left;
	padding-left: 3px;
}
.content_photo{
 padding-left: 15px;
 padding-top: 6px;
}
.TopBack {
text-align:right;
margin-left:15px;
margin-right:20px;
}
.dotline-5 {background-image: url(../images/icon/dotline.gif);height: 5px;}
.dotline-25 {background-image: url(../images/icon/dotline2.gif);height: 25px;}
/*-----------------------↓ LINKS↓---------------------- */

p.links {
	line-height:150%;
}
a:link, a:visited  {
	color: #333333;
	text-decoration: none;
}
a:hover, a:active, a:focus, a.lit:link, a.lit:visited {
	color: #59B337;
	text-decoration: underline;
}
a.green:link, a.green:visited {
	color: #59B337;
	text-decoration: underline;
}
a.green:hover, a.green:active, a.green:focus {
	color: #666666;
	text-decoration: none;
}
a.invisibleLink:link, a.invisibleLink:visited {
	color: #666666;
	text-decoration: none;
}
a.invisibleLink:link .featurelink, a.invisibleLink:visited .featurelink  {
	text-decoration: underline; 
}
a.invisibleLink:hover, a.invisibleLink:active, a.invisibleLink:focus, 
a.invisibleLink:hover .featurelink, a.invisibleLink:active .featurelink, a.invisibleLink:focus .featurelink {
	color: black;
	text-decoration: none;
}
.small {
	font-size: 90%;
}
/*-----------------------↑ LISTS ↑----------------------*/