.c- {
  &accordion {
    &-btn {
      display: block;
      width: 100%;
      padding: 0;
      border: 1px solid #e0e0e0;
      // &:nth-child(4n + 1) {
      //   background-color: $gray-100;
      // }
      // &:nth-child(4n + 3) {
      //   background-color: $white;
      // }

      &:hover {
        color: $blue-highlight;

        .c-accordion-btn-title-seperator {
          background-color: $blue-highlight;
        }
      }

      &-focus {
        outline: 2px dotted $blue-highlight !important;
      }

      &-wrapper {
        padding: 1rem;
      }

      &-layout {
        display: flex;
        flex-direction: row;
        align-items: center;
        text-align: left;
      }

      &-title {
        flex: 0 1 100%;

        p {
          display: flex;
          align-items: center;
        }

        >* {
          margin-bottom: 0;
        }

        &-number {
          width: 30px;
        }

        &-seperator {
          display: inline-block;
          width: 1px;
          height: 27px;
          background-color: $gray-800;
          margin: 0 16px;
        }
      }

      &-icon {
        // flex: 1 1 0;
        // -ms-flex-preferred-size: 0px;
        // flex-basis: 0px;
        // -ms-flex-positive: 1;
        // flex-grow: 1;
        // max-width: 100%;
        // width: 100%;
        // padding: 0 15px;
        width: 12px;

        i {
          transition: transform 0.5s cubic-bezier(0.77, -0.01, 0.19, 1.01);
        }

        &.js-accordionExpended {
          i {
            transform: rotate(180deg);
          }

          // .fa-angle-down {
          // transform: rotate(-225deg);
          // transform: rotate(180deg);
          // &::before {
          //   content: "\f068";
          // }
          // }
        }
      }
    }

    &-content {
      height: auto;
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.5s cubic-bezier(0.77, -0.01, 0.19, 1.01);
      background-color: $white;
      border-left: 1px solid #e0e0e0;
      border-right: 1px solid #e0e0e0;

      &:last-child {
        .c-accordion-content-wrapper {
          border-bottom: 1px solid #e0e0e0;
        }
      }

      &.js-accordionExpended {
        max-height: 2000px;
      }

      &-wrapper {
        padding: 1rem;
        // @include min-md{
        //   padding: 1rem 2rem 1rem 5rem;
        // }
      }

      &-layout {
        display: flex;
        flex-direction: column;
      }
    }
  }
}