.c- {
  &card {
    display: block;
    overflow: hidden;
    margin-bottom: 1rem;

    @include min-md {
      margin-bottom: 0;
    }

    &-link {
      text-decoration: none;

      &:hover {
        .c-card-head-aspect-ratio .c-card-head-img {
          transform: translate(-50%, -50%) scale(1.1);
        }
      }
    }

    &-layout {
      display: flex;
      flex-direction: row;

      @include min-md {
        flex-direction: column;
      }
    }

    &-head {
      width: 100%;
      position: relative;
      overflow: hidden;
      max-width: 40%;

      // background-color: $gray-900;
      @include min-sm {
        max-width: 50%;
      }

      @include min-md {
        max-width: 100%;
      }

      &-aspect-ratio {
        &::before {
          content: "";
          // 實際照片的高/寬
          // padding-top: 66.75%;
          padding-top: 100%;
          display: block;
        }

        .c-card-head-img {
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
        }
      }

      &-img {
        width: 100%;
        transition: transform 0.3s ease-in-out;
      }

      &-tag {
        width: 120px;
        position: absolute;
        top: 0;
        right: 0;

        @include min-sm {
          width: 130px;
        }
      }
    }

    &-body {
      background-color: $white;
      max-width: 60%;

      @include min-sm {
        max-width: 50%;
      }

      @include min-md {
        max-width: 100%;
      }

      &__height-adjust {
        @include min-md {
          min-height: 160px;
        }

        // @include min-lg {
        //   min-height: 160px;
        // }

        // @include min-xl {
        //   min-height: 160px;
        // }
      }

      &-container {
        // padding: 1rem;
        padding: 0.75rem;
      }

      &-layout {
        display: flex;
        flex-direction: column;

        p {
          line-height: 1.2rem;
        }

        h4 {
          font-size: $font-18;
          color: $blue-500;
          font-weight: bold;
          line-height: 1.5rem;
          // max-height: 3rem;
          // overflow: hidden;
        }
      }

      &-ar {
        min-height: 30px;
        max-width: 60%;

        img {
          width: 110px;
        }
      }

      &-more {
        color: $red-500;
        text-decoration: underline;

        &:hover {
          color: darken($red-500, 20%);
        }
      }
    }
  }
}

.c- {
  &card {
    &-verA {
      .c-card-layout {
        flex-direction: column;
      }

      .c-card-head {
        max-width: 100%;
        border: 1px solid $gray-500;
      }

      .c-card-body {
        max-width: 100%;
      }
    }
  }
}