.c {
    &-pagination {
        display: flex;
        flex-wrap: wrap;
        padding-left: 0;
        list-style: none;

        &-item {
            margin-left: 0;
            position: relative;
            display: block;
            margin-left: -1px;
            line-height: 1.25;
            color: $blue-500;
            // background-color: #fff;
            border-radius: 0.25rem;
            // margin:.5rem;
            margin: 1px;
            font-weight: bold;

            &.disabled {
                a {
                    color: $gray-100;
                    pointer-events: none;
                    cursor: auto;
                }
                &:hover,
                &.active {
                    a {
                        color: $gray-100;
                        background-color: transparent;
                    }
                }
            }

            a {
                color: $blue-500;
                text-decoration: none;
                // padding: .25rem 0.5rem;
                padding: .25rem;
                border-radius: 0.25rem;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 25px;

                // border: 1px solid $gray-500;
                i {
                    padding-top: 2px;
                    padding-bottom: 2px;
                }
            }

            &:hover,
            &.active {
                a {
                    color: $white !important;
                    background-color: $blue-highlight;
                    border-color: $blue-highlight;
                }
            }
        }
    }
}