.c- {
  &sideLink {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 85px;
    z-index: 500;
    

    @include min-xl {
      display: none;
    }

    &--hide-mobile {
      @include max-xl {
        // transform: translateX(100%) translateX(15px) translateY(50%);
        transform: translateX(100%);
        transition: all 0.3s ease-in-out;

        &.js-sideLinkOpened {
          // transform: translateX(0) translateY(50%);
          // transform: translateX(0);
          transform: translateX(0);
          box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
        }
      }
    }

    &-toggleBtn {
      width: 28px;
      height: 28px;
      display: block;
      position: relative;
      z-index: 1001;
      background-image: url("../img/index/icons/14.svg");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center center;

      @include min-xl {
        display: none;
      }

      .l-header-hamburger {
        display: none;
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
      }

      &.js-sideLinkOpened {
        background-image: none;

        .l-header-hamburger {
          display: block;
        }
      }
    }

    &-list {
      display: flex;
      flex-direction: column;
      // align-items: flex-end;
      align-items: center;
      width: 100%;

      &-title {
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;

        @include min-xl {
          display: none;
        }
      }

      &-link {
        // width: 55px;
        // height: 55px;
        width: 30px;
        height: 30px;
        margin: 1rem 0;
        // padding: 0.5rem 1rem;
        display: flex;
        justify-content: center;
        font-size: $font-14;
        align-items: center;
        // border-radius: 5px 0 0 5px;
        transition: transform 0.3s ease-in-out;


        &:not(:last-child) {
          margin-bottom: 15px;
        }

        &:hover,
        &.js-btnActive {
          transform: scale(1.3);
        }

        &:focus,
        &.js-btnFocus {
          box-shadow: 0 0 0 4px rgba($blue-500, 0.5);
          outline: none;
        }

        // &:active,
        // &.js-btnActive {}

        &-icon {
          flex: 1 0 auto;
          height: 20px;
          display: flex;
          justify-content: center;
          align-items: center;
          // margin-right: 4px;

          img {
            height: 27px;
            width: auto;
            // margin-right: 4px;
          }
        }

        &-title {
          flex: 0 1 100%;
          text-align: left;
        }
      }

    }
  }
}

#page {
  transition: all ease-in-out .3s;
  position: relative;
  left: 0;

  &.js-sideLinkOpened {
    position: relative;
    left: -85px;
    // transform: translateX(-85px);
  }
}