.c-tab {
  &-link {
    display: inline-block;
    color: $gray-800;
    position: relative;
    padding: $spacing-025 $spacing-200;
    font-weight: bold;

    &:before {
      transition: transform 0.3s ease-in-out;
      content: "";
      position: absolute;
      width: 27px;
      height: 2px;
      background-color: $red-500;
      left: 50%;
      bottom: 0;
      transform: translateX(-50%) scaleX(0);
    }

    &:hover {
      color: $gray-800;

      &:before {
        transform: translateX(-50%) scaleX(1);
      }
    }
  }

  &-scroller {
    overflow-y: scroll;
  }
}

.c-tab-verB {
  .c-tab {
    &-link {
      display: inline-block;
      color: $gray-800;
      position: relative;
      padding: $spacing-025 $spacing-200;
      background-color: $yellow-200;
      font-weight: bold;

      &:before {
        content: none;
      }

      &:hover {
        color: $gray-800;
        background-color: $yellow-500;

        &:before {
          transform: translateX(-50%) scaleX(1);
        }
      }
    }
  }
}

.c-tab-verC {
  .c-tab {
    &-link {
      display: inline-block;
      color: $gray-800;
      position: relative;
      padding: $spacing-025 $spacing-200;
      // background-color: $yellow-200;
      border: 1px solid $gray-500;
      width: 100%;
      text-align: center;
      margin-left: 1rem;
      margin-right: 1rem;
      font-weight: bold;

      &:before {
        content: none;
      }

      &:hover {
        color: $gray-800;
        background-color: $yellow-500;
        border: 1px solid $yellow-500;

        &:before {
          transform: translateX(-50%) scaleX(1);
        }
      }

      .fa-facebook {
        color: #1877f2;
      }
    }
  }
}

.c-tab-verD {
  display: flex;
  width: 100%;
  border: 1px solid $gray-500;
  color: $black;
  font-size: $font-16;
  justify-content: center;
  align-items: center;
  padding: $spacing-050 0;

  &:hover {
    border: 1px solid $yellow-500;
    background-color: $yellow-500;
    color: $blue-500;
  }
}

.c-tab-verE {
  .c-tab {
    &-container {
      flex: 0 0 100%;
      padding: 0 $spacing-050;

      @include min-lg {
        flex: 0 0 20%;
      }
    }

    &-linkE {
      display: flex;
      color: $gray-800;
      position: relative;
      padding: 0.25rem 0.75rem;
      width: 100%;
      background-color: #eee;
      border-radius: 5px;
      height: 100%;
      justify-content: center;
      align-items: center;
      font-weight: bold;

      &:hover,
      &.active {
        color: $white;
        background-color: $blue-highlight;
      }
    }
  }
}

.c-tab-verF {
  .c-tab {
    &-container {
      padding: $spacing-050;
    }

    &-linkF {
      display: flex;
      color: $gray-800;
      position: relative;
      padding: 0.25rem 0.75rem;
      width: 100%;
      background-color: #eee;
      border-radius: 5px;
      height: 100%;
      justify-content: center;
      align-items: center;
      font-weight: bold;

      &:hover,
      &.active {
        color: $white;
        background-color: $blue-highlight;
      }
    }
  }
}

.c-tab-verG {
  .c-tab {
    &-container {
      flex: 0 0 100%;
      padding: 0 $spacing-050;

      @include min-lg {
        flex: 0 0 20%;
      }
    }

    &-linkG {
      display: flex;
      color: $gray-800;
      position: relative;
      padding: 0.25rem 0.75rem;
      width: 100%;
      background-color: $white;
      border: 1px solid $gray-800;
      border-radius: 5px;
      height: 100%;
      justify-content: center;
      align-items: center;
      font-weight: bold;

      &:hover,
      &.active {
        color: $white;
        background-color: $gray-800;
      }
    }
  }
}