.c-title {
  &-center {
    color: $blue-500;
    font-size: $font-28;
    @include min-sm {
      font-size: $font-36;
    }
    position: relative;
    text-align: center;
    line-height: $line-height-15;
    padding-bottom: $spacing-025;
    &:before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      display: block;
      width: 46px;
      height: 2px;
      background-color: $red-500;
    }
  }
  &-lg-left {
    @include min-lg {
      text-align: left;
      &:before {
        transform: translateX(0);
        left: 0;
      }
    }
  }
  &-underline {
    color: $gray-800;
    font-weight: $font-weight-700;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid $gray-500;
  }
}
