<div class="c-sideLink-list js-sticky" id="sideLinkFooter">
  <a href="https://www.eyesmart.com.tw/link/5890/" target="_blank" class="c-sideLink-list-link d-none d-xl-block">
    <div class="c-sideLink-list-link-icon">
      <img src="assets/img/index/iconYoutube.svg" alt="">
    </div>
  </a>
  <a href="https://www.eyesmart.com.tw/link/5889/" target="_blank" class="c-sideLink-list-link d-none d-xl-block">
    <div class="c-sideLink-list-link-icon">
      <img src="assets/img/index/iconFacebook.svg" alt="">
    </div>
  </a>
  <a href="https://www.eyesmart.com.tw/link/5888/" target="_blank" class="c-sideLink-list-link d-none d-xl-block">
    <div class="c-sideLink-list-link-icon">
      <img src="assets/img/index/iconInstagram.svg" alt="">
    </div>
  </a>
  <a id="link_tag_id3" href="javascript:void(0)" class="c-sideLink-list-link d-none d-xl-block">
    <div class="c-sideLink-list-link-icon">
      <img src="assets/img/index/iconEyemarket.svg" alt="">
    </div>
  </a>
  <a href="" id="goTop" class="c-sideLink-list-link">
    <div class="c-sideLink-list-link-icon">
      <img src="assets/img/index/iconTop.svg" alt="">
    </div>
  </a>
</div>
<div class="u-bg-blue-500 u-py-100" id="footerAnchor">
  <div class="container">
    <div class="d-flex w-100 flex-column flex-lg-row justify-content-between">
      <div class="d-flex flex-column justify-content-center">
        <!-- <img src="assets/img/logo.png" alt="" class="img-fluid l-footer-logo"> -->
        <div class="l-footer-logo d-flex w-100 justify-content-between justify-content-lg-start">
          <img src="assets/img/logo_mb_txt.svg" class="img-fluid l-footer-logo-txt u-mr-100 align-self-center">
          <img src="assets/img/logo_mb_deco.png" class="img-fluid l-footer-logo-deco align-self-end">
        </div>
        <p class="u-text-white u-font-14 u-mb-050">地址：新北市汐止區新台五路一段97號16</p>
        <p class="u-text-white u-font-14 u-mb-050">免付費服務專線：0800-251-257</p>
        <p class="u-text-white u-font-14 u-mb-050">Email：formosa_service@ms.formosa-opt.com.tw</p>
        <div class="">
          <a href="https://www.eyesmart.com.tw/link/5890/">
            <img src="assets/img/index/iconYoutube_white.svg" alt="" class="img-fluid l-footer-social u-mr-050">
          </a>
          <a href="https://www.eyesmart.com.tw/link/5889/">
            <img src="assets/img/index/iconFacebook_white.svg" alt="" class="img-fluid l-footer-social u-mr-050">
          </a>
          <a href="https://www.eyesmart.com.tw/link/5888/">
            <img src="assets/img/index/iconInstagram_white.svg" alt="" class="img-fluid l-footer-social u-mr-050">
          </a>
          <a href="https://www.eyesmart.com.tw/">
            <img src="assets/img/index/iconEyemarket_white.svg" alt="" class="img-fluid l-footer-social u-mr-050">
          </a>
        </div>
      </div>
      <div class="d-none d-lg-flex align-items-center">
        <a href="https://www.eyesmart.com.tw/link/5894/" title="下載寶島App" target="_blank" rel="noreferrer noopener">
          <img src="assets/img/index/ios.svg" alt="" class="img-fluid l-footer-download u-mr-100">
        </a>
        <a href="https://www.eyesmart.com.tw/link/5899/" title="下載寶島App" target="_blank" rel="noreferrer noopener">
          <img src="assets/img/index/android.svg" alt="" class="img-fluid l-footer-download">
        </a>
      </div>
    </div>
  </div>
</div>
<div class="u-bg-white u-py-050">
  <div class="container clearfix">
    <p class="u-mb-000 u-font-14 float-lg-left u-text-gray-600">隱私權條款</p>
    <p class="u-mb-000 u-font-14 float-lg-right u-text-gray-600">寶島光學科技股份有限公司 | <br class="d-md-none">寶聯光學股份有限公司 版權所有
      轉載必究</p>
  </div>
</div>