<div class="c-sideLink-list">
	<div class="c-sideLink-list-title w-100 py-3 u-bg-gray-500 u-text-white">
		社群連結
	</div>
	<a href="https://www.eyesmart.com.tw/link/5890/" target="_blank" class="c-sideLink-list-link">
		<div class="c-sideLink-list-link-icon">
			<img src="../assets/img/index/iconYoutube.svg" alt="">
		</div>
	</a>
	<a href="https://www.eyesmart.com.tw/link/5889/" target="_blank" class="c-sideLink-list-link">
		<div class="c-sideLink-list-link-icon">
			<img src="../assets/img/index/iconFacebook.svg" alt="">
		</div>
	</a>
	<a href="https://www.eyesmart.com.tw/link/5888/" target="_blank" class="c-sideLink-list-link">
		<div class="c-sideLink-list-link-icon">
			<img src="../assets/img/index/iconInstagram.svg" alt="">
		</div>
	</a>
	<a id="link_tag_id6" href="https://www.eyesmart.com.tw/" class="c-sideLink-list-link">
		<div class="c-sideLink-list-link-icon">
			<img src="../assets/img/index/iconEyemarket.svg" alt="">
		</div>
	</a>
</div>