//layout .l-{className}
.l- {
  &footer {
    position: relative;

    .c-sideLink-list {
      width: 30px;
      margin: 0;
      position: absolute;
      // padding: 0;
      bottom: calc(100% - 30px);
      right: 1rem;
      transform: translate(0, 0);
      transition: transform 0.3s ease-in-out;

      @include max-xl {
        width: 40px;
      }

      &.js-sticky {
        position: fixed;
        bottom: 1rem;
        right: 1rem;
      }

      &.js-sideLinkOpened {
        transform: translate(-85px, 0);
      }

      #goTop {
        @include max-xl {

          img {
            height: 40px;
          }
        }
      }
    }

    &-cookie {
      &-bar {
        position: fixed;
        bottom: 0;
        background-color: $gray-800;
        color: $white;
        width: 100%;
        padding-top: 1rem;
        padding-bottom: 1rem;
        z-index: 50001;
      }

      &-btn {
        border-radius: 0.25rem;
        color: $white;
        border: 1px solid white;
        white-space: nowrap;
        &:hover{
          color: $white;
          background-color: $blue-highlight;
          border: 1px solid $blue-highlight;
        }
      }
    }

    &-logo {
      // width: 255px;
      // height: 35px;
      margin-bottom: 10px;

      &-txt {
        width: 160px;
      }

      &-deco {
        width: 95px;
      }
    }

    &-download {
      width: 125px;
      height: 160px;
    }

    &-social {
      width: 34px;
      height: 34px;

      &:hover {
        opacity: 0.5;
      }
    }
  }
}