html.js-menuOpened {
  height: 100%;
  overflow: hidden;
}

html.js-functionMenuOpened {
  height: 100%;
  overflow: hidden;
}

.l- {
  &header {
    // position: relative;
    z-index: 1000;
    width: 100%;
    background-color: $blue-500;
    position: fixed;

    &::before {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      bottom: 0;
      z-index: 999;
      background-color: $blue-500;
      pointer-events: none;

      @include min-xl {
        background-color: transparent;
      }
    }

    &-icon {
      width: 20px;
      height: 20px;
      margin-bottom: 0.125rem;
    }

    &-seperator {
      width: 2px;
      height: 14px;
      background-color: $gray-800;
      // margin: 14px 20px 0;
      margin: 0 20px 0;
    }

    &-layout {
      height: 60px;
      display: flex;
      align-items: center;
      width: 100%;

      @include min-xl {
        justify-content: space-between;
      }
    }

    &-logo {
      display: inline-block;
      position: relative;
      z-index: 1001;
      height: 28px;

      @include max-xl {
        margin: 0 auto;
      }

      &-img {
        width: 200px;
        height: 28px;
      }
    }

    &-hamburger {
      width: 30px;
      height: 18px;
      position: relative;
      z-index: 1001;

      @include min-xl {
        display: none;
      }

      &-bar {
        width: 100%;
        height: 2px;
        background-color: $white;
        position: absolute;
        transition: top 0.3s ease-out, transform 0.3s ease-out,
          opacity 0.3s ease-out;

        &__top {
          top: 0;
          left: 0;
        }

        &__middle {
          left: 0;
          top: 50%;
        }

        &__bottom {
          left: 0;
          top: 100%;
        }
      }

      &.js-menuOpened {
        .l-header-hamburger-bar {
          &__top {
            top: 50%;
            transform: rotate(45deg);
          }

          &__middle {
            opacity: 0;
          }

          &__bottom {
            top: 50%;
            transform: rotate(-45deg);
          }
        }
      }
    }

    &-menu {
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: $white;
      padding-top: 60px;
      overflow-x: hidden;
      overflow-y: scroll;
      z-index: 990;
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.3s ease-out, visibility 0.3s ease-out;

      &-wrapper {
        @include max-lg {
          background-color: $gray-02;
        }
      }

      &.js-menuOpened {
        opacity: 1;
        visibility: visible;
      }

      @include min-xl {
        position: static;
        width: auto;
        padding: 0;
        background-color: transparent;
        overflow: visible;
        opacity: 1;
        visibility: visible;
      }

      &-layout {
        display: flex;
        flex-direction: column;
        height: 100%;
        margin-bottom: 0;

        @include min-xl {
          flex-direction: row;
        }
      }

      &-item {
        border-bottom: 1px solid $gray-300;

        //手機版會員登入，會員專區特別拉出來放在上面
        &--mobile {
          font-size: $font-16;
          font-weight: bold;
          display: flex;
          align-items: center;

          @include min-xl {
            display: none;
          }

          .l-header-seperator {
            margin-top: 0;
          }
        }

        @include min-xl {
          margin: 0 10px;
          border-bottom: none;

          &:hover,
          &:focus {
            .l-header-submenu {
              opacity: 1;
              visibility: visible;
              pointer-events: all;
            }
          }
        }

        &--relative {
          position: relative;
        }
      }

      &-link {
        justify-content: space-between;
        align-items: center;
        text-decoration: none;
        position: relative;
        color: $gray-800;
        line-height: 30px;
        padding: 0.5rem 15px;
        font-weight: bold;
        font-size: $font-16;

        &:hover {
          text-decoration: none;
          color: $gray-800;
        }

        &--mobile {
          padding: 1rem 15px;
          color: $blue-500;

          &:hover {
            text-decoration: none;
            color: $blue-500;
          }

          @include min-xl {
            display: none;
          }
        }

        @include min-xl {
          color: $white;
          padding: 0;
          line-height: 60px;
        }

        &__hover {
          &--fill {
            display: flex;

            @include min-xl {
              // padding: 0 1rem;
              padding: 0 0.75rem;

              &:hover,
              &:focus,
              &.js-hover {
                background-color: $blue-highlight;
                color: $white;
              }
            }
          }
        }

        i {
          transition: transform .3s;

          &.js-submenuOpened {
            transform: rotate(180deg);
          }
        }
      }
    }

    &-submenu {
      position: relative;

      @include min-xl {
        background-color: $white;
      }

      &--hidden {
        max-height: 0;
        overflow: hidden;
        transition: opacity 0.4s cubic-bezier(0.59, -0.01, 0.42, 1.01),
          max-height 0.3s cubic-bezier(0.59, -0.01, 0.42, 1.01);

        &.js-submenuOpened {
          max-height: 1000px;
        }

        @include min-xl {
          max-height: none;
          opacity: 0;
          visibility: hidden;
          pointer-events: none;
        }
      }

      @include min-xl {
        position: absolute;
        bottom: 0;
        left: 0;
        transform: translateY(100%);
      }

      &-wrapper {
        width: 100%;
        background-color: $gray-200;

        @include min-xl {
          background-color: $white;
          min-width: 200px;
          box-shadow: 0 4px 4px rgba(0, 0, 0, .25);
        }
      }

      &-layout {
        // display: flex;
        // flex-direction: row;
        // justify-content: space-between;
        // align-items: center;
        // padding-top: 1rem;
        // padding-bottom: 1rem;
        // padding-left: 1rem;

        // @include min-xl {
        //   padding-left: 0;
        // }
      }

      &-item {
        position: relative;
        // padding-top: 0.25rem;
        // padding-bottom: 0.25rem;
        @include min-xl{
          font-weight: bold;
        }

        &::before {
          // content: "";
          height: 15px;
          width: 2px;
          position: absolute;
          background-color: $blue-highlight;
          // transform: translateY(-50%);
          top: 5px;
          left: 0;

          @include min-xl {
            content: "";
          }
        }
        .l-header-submenu-item{
          &::before {
            background-color: $gray-600;
          }
        }
      }

      &-link {
        color: $gray-800;
        text-decoration: none;
        position: relative;
        // line-height: 30px;
        // margin-left: 1rem;
        font-size: $font-16;

        &:hover {
          text-decoration: none;
          color: $blue-highlight;
        }

        @include min-xl {
          font-size: $font-16;
          margin-top: 1rem;
          color: $black;
          // margin-left: 0;
        }
      }
    }

    &-bottom {
      &-layout {
        display: flex;

        @include min-xl {
          display: none;
        }

        justify-content: space-around;
        // align-items: center;

        .l-header-seperator {
          margin-top: 0;
        }
      }

      &-link {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding: 1rem 0 0;
        color: $blue-500;

        &:hover {
          color: $blue-500;
        }

        img {
          width: 25px;
          height: 25px;
          margin-bottom: 4px;
        }
      }
    }

    &-seperator {
      align-self: center;
    }
  }
}