//layout .l-{className}
.l- {
  &table {
    width: 100%;
    border-collapse: separate !important;
    border-spacing: 0 !important;
    border-color: $black;

    thead {
      th {
        background-color: $blue-500;
        color: $white;
        white-space: nowrap;
        text-align: center;
        border-bottom: 1px solid #dee2e6;
        border-right-width: 0px;
        border-left-color: $white;

        &:first-child {
          border-left-color: $blue-500;
        }

        &:last-child {
          border-right-width: 1px;
        }
      }

      .th-en {
        background-color: $blue-500;
        color: $white;
        white-space: normal;
        text-align: left;
        border-bottom: 1px solid #dee2e6;
        border-right-width: 0px;
        border-left-color: $white;
        //labtop size
        width: 250px;

        &:first-child {
          border-left-color: $blue-500;
        }

        &:last-child {
          border-right-width: 1px;
        }
      }
    }

    th,
    td {
      border-color: $blue-500;

      @include max-380 {
        padding: 0.75rem 0.5rem;
      }
    }

    &-layout-fixed {
      table-layout: fixed;
    }

    &-vertical-align-middle {
      vertical-align: middle !important;
    }

    &.table-bordered {
      thead {
        tr {
          td,
          th {
            border-top: 0px;
          }
        }

        td,
        th {
          // border-right-color: red;
          // border-left-color: blue;
          // border-bottom-color: #00ff00;
          // border-top-color: magenta;
          border-right: 0px;

          &:first-child {
            border-left: 0px;
          }
        }
      }

      tbody {
        tr {
          &:first-child {

            td,
            th {
              border-top: 0px;
            }
          }
        }

        td,
        th {
          // border-right-color: red;
          // border-left-color: blue;
          // border-bottom-color: #00ff00;
          // border-top-color: magenta;
          border-right: 0px;
          border-bottom: 0px;

          &:first-child {
            border-left: 0px;
          }
        }
      }
    }
  }
}

.l-tablesSroller {
  &-wrapper {
    overflow-x: auto;
  }
}

html[lang="en"] {
  .l- {
    &table {
      width: 100%;

      thead {
        th {
          white-space: normal !important;
        }
      }
    }
  }
}