@charset "utf-8";

@charset "shift_jis";

/*
table of contents

=1 global
=2 header
=3 mainContent
=4 subContent
=5 exContent

*/


/* =1 global */
* {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

body {
	background: #ecf5f9;
	font-family: Helvetica,Verdana,sans-serif;
}

div#wraper {
/*	width: 840px;
	margin: 15px auto;*/
/*	border-top: solid 10px #fff; */
	border-left: solid 0px #fff; 
	border-right: solid 0px #fff; 
/*	background: url(../template-image/MDN42/back.gif) ; */
	
}
	/* clearfix */
	div#wraper:after {
	 content:"."; 
	 display:block; 
	 height:0; 
	 clear:both; 
	 visibility:hidden;
	}
	
	div#wraper {
		zoom: 1;
	}/* end */

h2,
h3 {
	margin-bottom: 20px;
	padding: 5px 8px;
	border-left: solid 8px #666;
	color: #666666;
	font-weight: normal;
	
}

h3 {
	font-size: 95%;
}

a:link,
a:visited {
	color: #666666;
}

a:hover {
	color: #cccccc;
}



/* =2 header */
div#header {
/*	width: 810px; */
	height: 180px; 
	 border: solid 10px #ffffff; 
	background: url(../template-image/MDN42/header.jpg) left;
}

div#header a:link,
div#header a:visited {
	color: #999999;
	font-weight: normal;
	text-decoration: none;
}

div#header a:hover {
	color: #cccccc;
	text-decoration: underline;	
}

div#header h1 {
	margin: 15px;
}



/* =3 mainContent */
div#mainContent {
	display: inline;
	float: left;
/*	width: 380px;
	margin: 0 215px; */
	background-color: #81B6F8;
	border-right: solid 10px #ffffff;
	border-left: solid 10px #ffffff;
	border-bottom:solid 10px #ffffff;	
	min-height:500px;
}





div#mainContent img {
	float: left;
	margin: 0 10px 3px 20px;
}

div#mainContent p {
	margin: 0 20px;
	color: #333;
	font-size: 100%;
}



/* =4 subContent */
div#subContent {
	display: inline;
	float: left;
/*	width: 200px;
	margin-left: -840px; */
	border-left: solid 15px #ffffff;
}

div#subContent ul,
div#exContent ul {
	margin: 0 15px 20px;
}

div#subContent ul li,
div#exContent ul li {
	margin: 5px 0;
}



/* =5 exContent */
div#exContent {
	display: inline;
	float: left;
/*	width: 200px;
	margin-left: -215px; */
	border-right: solid 15px #ffffff;
}

div#exContent img {
	margin: 0 15px 30px;
}




div#archive {
border-left: solid 10px #ffffff;
min-height:200px;
}

div#category {
border-left: solid 10px #ffffff;
border-bottom:solid 10px #ffffff;
min-height:300px;
}

div#link {
border-left: solid 10px #ffffff;
border-right: solid 10px #ffffff;
min-height:200px;
}

div#nowPicture {
border-left: solid 10px #ffffff;
border-right: solid 10px #ffffff;
border-bottom:solid 10px #ffffff;
min-height:300px;
}

div#test {
	
	float: left;

	min-height:500px;
border: solid 1px #000000; 
	
}