
/* Style for Ozh's Admin Drop Down Menu */
/* Restyle or hide original items */
#adminmenu 					{display:none;}
#wpbody, div.folded #wpbody {margin-left:0px}

#wpbody-content .wrap {margin-left:15px}

#media-upload-header #sidemenu li {
	display:auto;
}
#screen-meta {
	display:none; /* hidden in case we have no JS to move it */
}
/* Styles for our new menu */
#ozhmenu_wrap {
	z-index:43000;
	overflow:hidden;
	width:100%;
	clear:both;
}
#ozhmenu { /* our new ul */
	font-size:12px;
	left:0px;
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin:0pt;
	margin-bottom:1px;
	padding-left:8px;
	top:0px;
	width:100%; /* width required for -wtf?- dropping li elements to be 100% wide in their containing ul */
	overflow:hidden;
	z-index:1000;
	background:#676768 url(/blog/wp-content/plugins/ozh-admin-drop-down-menu/inc/images/grad-trans.png) repeat-x left top;
}
#ozhmenu li { /* all list items */
	display:inline;
	line-height:200%;
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin:0 3px;
	padding:0;
	white-space:nowrap;
	float: left;
	width: 1*; /* maybe needed for some Opera ? */
}
#ozhmenu a { /* all links */
	text-decoration:none;
	color:#bbb;
	line-height:220%;
	padding:0px 10px;
	display:block;
	width:1*;  /* maybe needed for some Opera ? */
}
#ozhmenu li:hover,
#ozhmenu li.ozhmenu_over,
#ozhmenu li .wp-has-current-submenu {
	-moz-border-radius: 11px;
	-webkit-border-radius: 11px;
	color: #ffe;
	background: #676768 url(/blog/wp-content/plugins/ozh-admin-drop-down-menu/inc/images/grad-trans.png) repeat-x left -5px;
}

#ozhmenu li:hover {
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
}
#ozhmenu .ozhmenu_sublevel { line-height: 100%; margin: 0; } /* IE8 fix. Die, IE8 */
#ozhmenu .ozhmenu_sublevel a:hover,
#ozhmenu .ozhmenu_sublevel a.current,
#ozhmenu .ozhmenu_sublevel a.current:hover {
	background-color: #e4f2fd;
	-moz-border-radius-topleft: 0px;
	-moz-border-radius-topright: 0px;
	-webkit-border-top-left-radius:0;
	-webkit-border-top-right-radius:0;
	border-top-left-radius:0;
	border-top-right-radius:0;
	color: #555;
}
#ozhmenu li ul { /* drop down lists */
	padding: 0 0 5px 0px;
	margin: 0;
	list-style: none;
	position: absolute;
	background: white;
	opacity:0.95;
	filter:alpha(opacity=95);
	border-left:1px solid #ccc ;
	border-right:1px solid #ccc ;
	border-bottom:1px solid #c6d9e9 ;
	-moz-border-radius-bottomleft:5px;
	-moz-border-radius-bottomright:5px;
	-webkit-border-bottom-left-radius:5px;
	-webkit-border-bottom-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	width: 1*;  /* maybe needed for some Opera ? */
	min-width:6em;
	left: -999em; /* using left instead of display to hide menus because display: none isn't read by screen readers */
	list-style-position:auto;
	list-style-type:auto;
	z-index:1001;
}
#ozhmenu li ul li { /* dropped down lists item */
	background:transparent !important;
	float:none;
	text-align:left;
}
#ozhmenu li ul li a { /* links in dropped down list items*/
	margin:0px;
	color:#666;
}
#ozhmenu li:hover ul, #ozhmenu li.ozhmenu_over ul { /* lists dropped down under hovered list items */
	left: auto;
	z-index:999999;
}
#ozhmenu li a #awaiting-mod, #ozhmenu li a .update-plugins {
	position: absolute;
	margin-left: 0.1em;
	font-size: 0.8em;
	background-image: url(/blog/wp-content/plugins/ozh-admin-drop-down-menu/inc/images/comment-stalk-fresh.gif);
	background-repeat: no-repeat;
	background-position: -243px bottom;
	height: 1.7em;
	width: 1em;
}
#ozhmenu li.ozhmenu_over a #awaiting-mod, #ozhmenu li a:hover #awaiting-mod, #ozhmenu li.ozhmenu_over a .update-plugins, #ozhmenu li a:hover .update-plugins {
	background-position: -2px bottom;
}
#ozhmenu li a #awaiting-mod span, #ozhmenu li a .update-plugins span {
	color: #444;
	top: -0.4em;
	right: -0.5em;
	position: absolute;
	display: block;
	height: 1.3em;
	line-height: 1.4em;
	padding: 0 0.8em;
	background-color: #bbb;#2583AD;
	-moz-border-radius: 4px;
	-khtml-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}
#ozhmenu li.ozhmenu_over a #awaiting-mod span, #ozhmenu li a:hover #awaiting-mod span, #ozhmenu li.ozhmenu_over a .update-plugins span, #ozhmenu li a:hover .update-plugins span {
	background-color:#D54E21;
}
#ozhmenu .current {
	border:0px; /* MSIE insists on having this */
}
#ozhmenu li ul li a.current:before {
	content: "\00BB \0020";
	color:#d54e21;
}

/* Top level icons */
.ozhmenu_toplevel div.wp-menu-image {
	float:left;
	height:24px;
	width:24px;
}
#ozhmenu .ozhmenu_toplevel a.menu-top {
	padding:0 5px 0 1px; /* override #ozhmenu a's padding:0 10 */
}

#ozhmenu li.ozhmenu_toplevel ul li.toplevel_label, #ozhmenu li.ozhmenu_toplevel ul li.toplevel_label:hover {
	color:#444;
	background: #e4f2fd !important;
	padding:0px 10px;
	margin:0px;
	display:block;
	border-bottom:1px solid #c6d9e9;
	width:1*;  /* maybe needed for some Opera ? */
	cursor:default;
		display:none;
	}
#ozhmenu li.ozhmenu_toplevel ul li.toplevel_label span.update-plugins,
#ozhmenu li.ozhmenu_toplevel ul li.toplevel_label span.pending-count {display:none;}

#oam_menu-dashboard div.wp-menu-image {background:transparent url(/blog/wp-content/plugins/ozh-admin-drop-down-menu/inc/images/menu.png) -61px -35px no-repeat;}
#oam_menu-dashboard:hover div.wp-menu-image {background:transparent url(/blog/wp-content/plugins/ozh-admin-drop-down-menu/inc/images/menu.png) -61px -3px no-repeat;}
#oam_menu-posts div.wp-menu-image {background:transparent url(/blog/wp-content/plugins/ozh-admin-drop-down-menu/inc/images/menu.png) -272px -35px no-repeat;}
#oam_menu-posts:hover div.wp-menu-image {background:transparent url(/blog/wp-content/plugins/ozh-admin-drop-down-menu/inc/images/menu.png) -272px -3px no-repeat;}
#oam_menu-media div.wp-menu-image {background:transparent url(/blog/wp-content/plugins/ozh-admin-drop-down-menu/inc/images/menu.png) -121px -35px no-repeat;}
#oam_menu-media:hover div.wp-menu-image {background:transparent url(/blog/wp-content/plugins/ozh-admin-drop-down-menu/inc/images/menu.png) -121px -3px no-repeat;}
#oam_menu-links div.wp-menu-image {background:transparent url(/blog/wp-content/plugins/ozh-admin-drop-down-menu/inc/images/menu.png) -91px -35px no-repeat;}
#oam_menu-links:hover div.wp-menu-image {background:transparent url(/blog/wp-content/plugins/ozh-admin-drop-down-menu/inc/images/menu.png) -91px -3px no-repeat;}
#oam_menu-pages div.wp-menu-image {background:transparent url(/blog/wp-content/plugins/ozh-admin-drop-down-menu/inc/images/menu.png) -151px -35px no-repeat;}
#oam_menu-pages:hover div.wp-menu-image {background:transparent url(/blog/wp-content/plugins/ozh-admin-drop-down-menu/inc/images/menu.png) -151px -3px no-repeat;}
#oam_menu-comments div.wp-menu-image {background:transparent url(/blog/wp-content/plugins/ozh-admin-drop-down-menu/inc/images/menu.png) -31px -35px no-repeat;}
#oam_menu-comments:hover div.wp-menu-image {background:transparent url(/blog/wp-content/plugins/ozh-admin-drop-down-menu/inc/images/menu.png) -31px -3px no-repeat;}
#oam_menu-appearance div.wp-menu-image {background:transparent url(/blog/wp-content/plugins/ozh-admin-drop-down-menu/inc/images/menu.png) -1px -35px no-repeat;}
#oam_menu-appearance:hover div.wp-menu-image {background:transparent url(/blog/wp-content/plugins/ozh-admin-drop-down-menu/inc/images/menu.png) -1px -3px no-repeat;}
#oam_menu-plugins div.wp-menu-image {background:transparent url(/blog/wp-content/plugins/ozh-admin-drop-down-menu/inc/images/menu.png) -181px -35px no-repeat;}
#oam_menu-plugins:hover div.wp-menu-image {background:transparent url(/blog/wp-content/plugins/ozh-admin-drop-down-menu/inc/images/menu.png) -181px -3px no-repeat;}
#oam_menu-users div.wp-menu-image {background:transparent url(/blog/wp-content/plugins/ozh-admin-drop-down-menu/inc/images/menu.png) -301px -35px no-repeat;}
#oam_menu-users:hover div.wp-menu-image {background:transparent url(/blog/wp-content/plugins/ozh-admin-drop-down-menu/inc/images/menu.png) -301px -3px no-repeat;}
#oam_menu-tools div.wp-menu-image {background:transparent url(/blog/wp-content/plugins/ozh-admin-drop-down-menu/inc/images/menu.png) -211px -35px no-repeat;}
#oam_menu-tools:hover div.wp-menu-image {background:transparent url(/blog/wp-content/plugins/ozh-admin-drop-down-menu/inc/images/menu.png) -211px -3px no-repeat;}
#oam_menu-settings div.wp-menu-image {background:transparent url(/blog/wp-content/plugins/ozh-admin-drop-down-menu/inc/images/menu.png) -241px -35px no-repeat;}
#oam_menu-settings:hover div.wp-menu-image {background:transparent url(/blog/wp-content/plugins/ozh-admin-drop-down-menu/inc/images/menu.png) -241px -3px no-repeat;}
#ozhmenu img.wp-menu-image {float:left;opacity:0.6;padding:5px 1px 0;filter:alpha(opacity=60);}
#ozhmenu .ozhmenu_toplevel:hover img.wp-menu-image {opacity:1;filter:alpha(opacity=100);}

/* Mu Specific */
#ozhmumenu_head {
	color:#bbb;
	font-weight:bolder;
}
#ozhmumenu_head #all-my-blogs {
	position:relative;
	top:0px;
	background:#ffa;
	color:#000;
}
#ozhmenu #oam_bloglink a {
	font-weight:bolder;
	color:#fff;
}
/* Just for IE7 */
#wphead {
	#border-top-width: 31px;
}
#media-upload-header #sidemenu { display: block; }





/* Icons */
#ozhmenu .ozhmenu_sublevel a {
	padding-left:22px;
	background-repeat:no-repeat;
	background-position:3px center;
}
.oam_plugin a {
	background-image:url(/blog/wp-content/plugins/ozh-admin-drop-down-menu/inc/images/cog.png);
}
#oamsub_index a {background-image:url(/blog/wp-content/plugins/ozh-admin-drop-down-menu/inc/images/application_view_tile.png);}
#oamsub_post-new a {background-image:url(/blog/wp-content/plugins/ozh-admin-drop-down-menu/inc/images/page_white_edit.png);}
#oamsub_page-new a {background-image:url(/blog/wp-content/plugins/ozh-admin-drop-down-menu/inc/images/page_edit.png);}
#oamsub_link-add a {background-image:url(/blog/wp-content/plugins/ozh-admin-drop-down-menu/inc/images/link_add.png);}
#oamsub_edit a {background-image:url(/blog/wp-content/plugins/ozh-admin-drop-down-menu/inc/images/pencil.png);}
#oamsub_edit-pages a {background-image:url(/blog/wp-content/plugins/ozh-admin-drop-down-menu/inc/images/page_edit.png);}
#oamsub_link-manager a {background-image:url(/blog/wp-content/plugins/ozh-admin-drop-down-menu/inc/images/link.png);}
#oamsub_categories a {background-image:url(/blog/wp-content/plugins/ozh-admin-drop-down-menu/inc/images/tag_red.png);}
#oamsub_edit-tags a {background-image:url(/blog/wp-content/plugins/ozh-admin-drop-down-menu/inc/images/tag_blue_edit.png);}
#oamsub_edit-tags_taxonomy_post_tag a {background-image:url(/blog/wp-content/plugins/ozh-admin-drop-down-menu/inc/images/tag_blue_edit.png);}
#oamsub_edit-link-categories a {background-image:url(/blog/wp-content/plugins/ozh-admin-drop-down-menu/inc/images/link_edit.png);}
#oamsub_upload a {background-image:url(/blog/wp-content/plugins/ozh-admin-drop-down-menu/inc/images/image.png);}
#oamsub_import a {background-image:url(/blog/wp-content/plugins/ozh-admin-drop-down-menu/inc/images/door_in.png);}
#oamsub_export a {background-image:url(/blog/wp-content/plugins/ozh-admin-drop-down-menu/inc/images/door_out.png);}
#oamsub_themes a {background-image:url(/blog/wp-content/plugins/ozh-admin-drop-down-menu/inc/images/layout.png);}
#oamsub_widgets a {background-image:url(/blog/wp-content/plugins/ozh-admin-drop-down-menu/inc/images/layout_content.png);}
#oamsub_theme-install a {background-image:url(/blog/wp-content/plugins/ozh-admin-drop-down-menu/inc/images/layout_add.png);}
#oamsub_theme-editor a {background-image:url(/blog/wp-content/plugins/ozh-admin-drop-down-menu/inc/images/layout_edit.png);}
#oamsub_functions a {background-image:url(/blog/wp-content/plugins/ozh-admin-drop-down-menu/inc/images/layout_header.png);}
#oamsub_edit-comments a {background-image:url(/blog/wp-content/plugins/ozh-admin-drop-down-menu/inc/images/comment.png);}
#oamsub_akismet-admin a {background-image:url(/blog/wp-content/plugins/ozh-admin-drop-down-menu/inc/images/comment_delete.png);}
#oamsub_options-general a {background-image:url(/blog/wp-content/plugins/ozh-admin-drop-down-menu/inc/images/wrench.png);}
#oamsub_options-writing a {background-image:url(/blog/wp-content/plugins/ozh-admin-drop-down-menu/inc/images/page_white_wrench.png);}
#oamsub_options-reading a {background-image:url(/blog/wp-content/plugins/ozh-admin-drop-down-menu/inc/images/book_open.png);}
#oamsub_options-discussion a {background-image:url(/blog/wp-content/plugins/ozh-admin-drop-down-menu/inc/images/comment_edit.png);}
#oamsub_options-privacy a {background-image:url(/blog/wp-content/plugins/ozh-admin-drop-down-menu/inc/images/eye.png);}
#oamsub_options-permalink a {background-image:url(/blog/wp-content/plugins/ozh-admin-drop-down-menu/inc/images/link_edit.png);}
#oamsub_options-misc a {background-image:url(/blog/wp-content/plugins/ozh-admin-drop-down-menu/inc/images/wrench_orange.png);}
#oamsub_plugins a {background-image:url(/blog/wp-content/plugins/ozh-admin-drop-down-menu/inc/images/plugin.png);}
#oamsub_plugin-install a {background-image:url(/blog/wp-content/plugins/ozh-admin-drop-down-menu/inc/images/plugin_add.png);}
#oamsub_plugin-editor a {background-image:url(/blog/wp-content/plugins/ozh-admin-drop-down-menu/inc/images/plugin_edit.png);}
#oamsub_users a {background-image:url(/blog/wp-content/plugins/ozh-admin-drop-down-menu/inc/images/group.png);}
#oamsub_user-new a {background-image:url(/blog/wp-content/plugins/ozh-admin-drop-down-menu/inc/images/user_add.png);}
#oamsub_ozh_admin_menu_logout a {background-image:url(/blog/wp-content/plugins/ozh-admin-drop-down-menu/inc/images/cancel.png);}
#oamsub_profile a {background-image:url(/blog/wp-content/plugins/ozh-admin-drop-down-menu/inc/images/user.png);}
#oamsub_options-media a {background-image:url(/blog/wp-content/plugins/ozh-admin-drop-down-menu/inc/images/image_options.png);}
#oamsub_tools a {background-image:url(/blog/wp-content/plugins/ozh-admin-drop-down-menu/inc/images/application_lightning.png);}
#oamsub_update-core a {background-image:url(/blog/wp-content/plugins/ozh-admin-drop-down-menu/inc/images/wordpress_icon.png);}
#oamsub_media-new a {background-image:url(/blog/wp-content/plugins/ozh-admin-drop-down-menu/inc/images/image_add.png);}


/**/