/**
 *********************************************
 * Prototype of styles for horizontal CSS-menu
 * @data 30.06.2009
 *********************************************
 * (X)HTML-scheme:
 *  <div id="menu">
 *      <ul class="menu">
 *          <li><a href="#" class="parent"><span>level 1</span></a>
 *              <div><ul>
 *                  <li><a href="#" class="parent"><span>level 2</span></a>
 *                      <div><ul><li><a href="#"><span>level 3</span></a></li></ul></div>
 *                  </li>
 *              </ul></div>
 *          </li>
 *          <li class="last"><a href="#"><span>level 1</span></a></li>
 *      </ul>
 *  </div>
 *********************************************
 */

/* menu::base */
div#menu {
    height:75px;
    background: #002154;
    /* background:url(images/nav-bg.png) repeat-x;
    _background:url(images/nav-bg.gif) repeat-x; */
}
div#menu .logo{
    width: 260px;
    padding: 10px;
    height: auto;
}
div#menu .logo img{
    width: 100%;
}
div#menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    float: left;
}
div#menu ul.menu {
    padding-left: 30px;
}

div#menu li {
    position: relative;
    z-index: 9;
    margin: 0;
    padding: 0;
    display: block;
    float: left;
}
div#menu .menu > li+li{border-left: 1px solid #ddd;}
div#menu li:hover{
    background: #006dc9;
}
div#menu li:hover>ul {
    left: -2px;
}

div#menu li div {
    list-style: none;
    float: left;
    position: absolute;
    top: 55px;
    left: 0;
    width: 208px;
    z-index: 11;
    visibility: hidden;
    margin: 0;
    padding: 0;
    background: #006dc9;
    /* padding: 0 0 9px 7px;
    _padding: 0 0 9px 3px;
    background: url(images/submenu-bottom.png) no-repeat 7px bottom;
    _background-image: url(images/submenu-bottom.gif);
    margin: 0 0 0 -9px; */
}
div#menu li:hover>div {
    visibility: visible;
}

div#menu li.current a {}

/* menu::level1 */
div#menu a {
    position: relative;
    z-index: 10;
    height: 55px;
    display: block;
    float: left;	
    padding: 0 10px 0 10px;
    line-height: 55px;
    text-decoration: none;
}
div#menu span {
    font: normal 14px 'Lucida Sans Unicode','Lucida Grande',Helvetica,Arial,sans-serif;
    padding-top: 18px;
    color: #fff;
    font-weight:bold;
    text-transform:uppercase;
    display: block;
    cursor: pointer;
    background-repeat: no-repeat;		
}
div#menu ul li:hover span {
    /* color: #353535; */
    color: #fff;
}

/* div#menu li { background: url(images/nav_separator.png) top left no-repeat; } */
div#menu li.last span{
    background: url(images/nav_separator.png) top right no-repeat;
    padding: 18px 10px 16px 0;
}

/* menu::level2 */
div#menu ul ul li {
    /* background: url(images/nav_dropdown_sep.gif) left bottom repeat-x; */
    /* padding: 4px 0; */
    z-index: 9;	
}
div#menu ul ul {
    z-index: 12;	
    padding: 0;
    /* background: rgb(226,226,226) url(images/nav_dropdown_grad.png) right top no-repeat; */
    /* margin-top:0px;
    margin-left:4px;
    margin-right:5px; */
    margin: 0;
}
div#menu ul ul a {
  	width: 184px;
      /* padding: 0px 7px 3px 8px; */
      padding: 10px;
    height: auto;
    float: none;
    display: block;
    background:none;
    margin-bottom: 2px;
    z-index: -1;
}
div#menu ul ul a span {
      /* padding: 0 10px 0px 10px; */
      padding: 0;
    line-height: 20px;
    /* color: #454545; */
    color: #fff;
    font-weight:normal;
    text-transform: none;
    background:none;
}
div#menu ul ul a span::before{
    content: "";
    background: #fff;
    width: 22px;
    height: 1px;
    position: absolute;
    left: 10px;
    top: 40px;
    // top: 20px;
    opacity: 0;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
div#menu ul ul a span:after{
    content: "";
    background: #fff;
    width: 15px;
    height: 1px;
    position: absolute;
    left: 19px;
    top: 35px;
    // top: 15px;
    opacity: 0;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    
}

div#menu ul ul a:hover {
    /* background: url(images/submenu-selected-bottom.gif) no-repeat 8px bottom; */
}

div#menu ul ul a:hover span {
    /* background: url(images/submenu-selected-top.gif) no-repeat 0px 0px; */
    color: #fff;
}
div#menu ul ul a:hover span::before{
    width: 38px;
    opacity: 1;
}
div#menu ul ul a:hover span::after{
    left: 35px;
    opacity: 1;
}
div#menu ul ul li.last { background: none; }
div#menu ul ul li {
    width: 100%;
}

/* menu::level3 */
div#menu ul ul div {
    width: 208px;
    margin: -50px 0 0 190px !important;
    height: auto;
    _padding: 0 0 9px 3px;
}
div#menu ul ul ul {
	_padding-right:1px;
}

/* lava lamp */
div#menu li.back {
}
div#menu li.back .left {
}

