@charset "utf-8";
/* CSS Document */
a:link {color:#333; text-decoration:none;}
a:visited {color:#666;text-decoration:none;}
a:hover {color:#ec6419;text-decoration:none;}

body {background:url(../std_images/fy_bg.png); background-repeat:repeat-x; background-color:#e8e8e8;}

.abouttop {float:left;}

.normal {font-size:13px; color:#666; letter-spacing:1px; line-height:20px;}

.orange {font-size:14px; color:#ec6419; letter-spacing:1px; line-height:22px;}

.footer {background:url(../std_images/fy_footerbg.png); background-repeat:repeat-x; padding:20px 0 20px 15px;}

.menus {background:url(../std_images/fy_submenu.jpg) no-repeat; padding:5px 0 7px 25px;}

.style01 {width:330px; float:left;margin:0 5px 10px 0;}

.images {float:left; margin-right:5px;}


.rounder1{
background:url(../std_images/kl_s01.jpg) no-repeat ;
height:20px;
}

.rounder2{

background:url(../std_images/kl_s02.jpg) bottom left repeat-y;	
}

.rounder3{
background:url(../std_images/kl_s03.jpg) no-repeat left bottom ;
height:20px;
}